* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
    background: #111b29;
    overflow-x: hidden; 
    overflow-y: auto; 
  }
  

  .mountains-container {
    position: relative;
    width: 100%;
    height: 100vh; 
  }
  
 
  .scrollDist {
    width: 100%;
    height: 200vh; 
    background: transparent; 
  }
  

  main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background: #fff;
    overflow: hidden; 
  }
  

  svg {
    width: 100%;
    height: 100%;
    display: block; 
    object-fit: cover;
  }
